/************************************************

INDEX:
- FORM

*************************************************/

@charset "UTF-8";

/****************************
********* INDEX *************
****************************/

/***********
    FORM 
***********/
.a-login {
    text-decoration: none;
    color: black;
}
.a-login:hover {
    font-size: 1.1em;
}
.img-btec {
    text-align: center;
    margin-right: 30px;
}
.form-login {
    margin-top: 150px;
}
.borda-form {
    border: 1px solid lightgray;
    border-radius: 10px;
}