/************************************************

LOGIN:
- FORM

HOME:
- LOGO PORTAIS

*************************************************/

@charset "UTF-8";

:root {
    --colorBlue: #293165;
    --colorRed: #c41d21;
}

/****************************
********* LOGIN *************
****************************/

/***********
    FORM 
***********/
.a-login {
    text-decoration: none;
    color: black;
}
.a-login:hover {
    font-size: 1.1em;
}
.img-btec {
    text-align: center;
    margin-right: 30px;
}
.form-login {
    margin-top: 150px;
}
.borda-form {
    border: 1px solid lightgray;
    border-radius: 10px;
}


/****************************
********* HOME *************
****************************/

/***********
    PORTAIS 
***********/

.align-center {
    text-align: center;
}

.container-logo {
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .container-logo {
        margin-right: 100px;
    }
}

.link-portais {
    text-decoration: none;
    color: var(--colorBlue);
    font-size: .8em;
    font-weight: bold;
}

.link-portais:hover {
    color: var(--colorRed);
    transition: .75s;
}

.container-img-logo img {
    cursor: pointer;
}

